$colors: (
  neutral: (
    100: hsl(0, 0%, 100%),
  ),
  primary: (
    400: hsl(292, 16%, 49%),
    500: hsl(292, 42%, 14%),
  ),
  secondary: (
    100: hsl(275, 100%, 97%),
    400: hsl(281, 83%, 54%),
  ),
);
