@font-face {
  font-family: 'worksans';
  font-weight: 400;
  src: url('/assets/fonts/worksans-regular-webfont.woff2') format(woff2),
    url('/src/assets/fonts/worksans-regular-webfont.woff') format(woff);
}

@font-face {
  font-family: 'worksans';
  font-weight: 600;
  src: url('/assets/fonts/worksans-semibold-webfont.woff2') format(woff2),
    url('/src/assets/fonts/worksans-semibold-webfont.woff') format(woff);
}

@font-face {
  font-family: 'worksans';
  font-weight: 700;
  src: url('/assets/fonts/worksans-bold-webfont.woff2') format(woff2),
    url('/src/assets/fonts/worksans-bold-webfont.woff') format(woff);
}

$ff-primary: 'worksans', sans-serif;

$font-sizes: (
  700: clamp(2rem, 1rem + 7vw, 3.5rem),
  500: clamp(1rem, 0.75rem + 5vw, 1.125rem),
  400: clamp(0.875rem, 0.5rem + 2vw, 1rem),
);

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
