@use '../abstracts/' as *;

.accordion__panel {
  display: grid;
  grid-template-rows: min-content 0fr;
  transition: grid-template-rows 500ms ease-in-out;
  padding-block: $card-gap;
  padding-inline: 0;

  position: relative;
  isolation: isolate;
}

.accordion__panel:first-of-type {
  padding-block-start: 0;
}
.accordion__panel:last-of-type {
  padding-block-end: 0;
}

.accordion__panel + .accordion__panel::before {
  content: '';
  position: absolute;
  inset: 0 0 0 auto;
  height: 1px;
  width: 100%;
  background-color: clr(secondary, 100);
}
.accordion__panel[data-state='opened'] {
  grid-template-rows: min-content 1fr;
}

.accordion__title {
  font-size: fs(500);
  font-weight: $fw-600;
  line-height: 1.1;
  color: clr(primary, 500);
}

.accordion__toggle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: $card-gap;
  align-items: center;

  span {
    display: inline-block;
    justify-self: start;
    text-align: left;
  }

  &:hover span,
  &:focus-visible span {
    color: clr(secondary, 400);
  }

  &:focus-visible {
    outline: none;
    outline: 2px dotted clr(secondary, 400);
    outline-offset: size(8);
  }
}

.accordion__content {
  overflow: hidden;
  padding: 0;
}

.accordion__content p {
  padding-block-start: 1em;
}
